@model A7233739.ViewModels.CurrencyExchangeViewModel
@{
    ViewBag.Title = "貨幣轉換";
}

<div align="center">
    <br />
    <b class="label label-danger" style="font-size:large">貨幣轉換</b>
    <br />
    @*建立貨幣轉換的表單*@
    @using (Html.BeginForm("CurrencyExchange", "CurrencyExchange"))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Num1, new { @class = "label label-warning label-sm" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Num1)
                    @Html.ValidationMessageFor(m => m.Num1, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.LabelFor(m => m.Tw)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Result, new { @class = "label label-warning label-sm" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Result)
                </td>
            </tr>
        </table>
        <input type="submit" name="btnCurrency" value="美元" class="btn btn-success" />
        <input type="submit" name="btnCurrency" value="英鎊" class="btn btn-success" />
        <input type="submit" name="btnCurrency" value="人民幣" class="btn btn-success" />
        <input type="submit" name="btnCurrency" value="日圓" class="btn btn-success" />
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}